# Security
JWT_SECRET=your_jwt_secret_here

# Database
SPRING_DATASOURCE_URL= jdbc:postgresql://postgres:5432/celulares_db
SPRING_DATASOURCE_USERNAME= postgres
SPRING_DATASOURCE_PASSWORD= postgres

# Machine Learning Service
ML_URL= http://ml-service:8000/predict